# Git Configuration

[user]
  email = harry.lewis@queensu.ca
  name = Harry Lewis
  signingkey = 6ABA5C88C5FFCE67

[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true

[core]
  excludesfile = ~/.gitignore_global

[credential]
  helper = osxkeychain

[color "status"]
  added = green
  changed = yellow
  untracked = red

[status]
  showUntrackedFiles = all

[commit]
  template = ~/.gitmessage

[push]
  default = current

[init]
  defaultBranch = main

[alias]
  st = status -sb
  di = diff
  dc = diff --cached
  co = checkout
  cob = checkout -b
  br = branch
  ad = add
  ci = commit
  ls = log --oneline
  sta = stash --include-untracked
  pop = stash pop
